*~
*.DS_Store
*.pyc
*.so
*.pkl
*.txt
*.egg-info/
build/
dist/
examples/temp/
examples/work/
examples/models/sugrue2004.py
examples/analysis/sugrue2004.py
examples/models/matchingpennies.py
examples/analysis/matchingpennies.py
paper/figs/
paper/paper/
paper/times/
talks/
temp/
tests/
work/
logtest.py
rvtest.py
environment/
examples2/
pyrl2/
openai/
models/
analysis/
scripts/
